.message {
  height: fit-content;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.message span:nth-child(1) {
  font-size: 12px;
  font-weight: 500;
  color: var(--p-color4);
}

.message span:nth-child(2) {
  padding: 10px;
  background-color: var(--p-color8);
  max-width: 80%;
  width: fit-content;
  font-size: 14px;
  border-radius: 10px;
  display: block;
}

.myMessage {
  align-items: end;
}

.myMessage > span:nth-child(2) {
  background-color: var(--p-color1);
  max-width: 80%;
  color: white;
}
