.pagesNav {
  position: fixed;
  bottom: 0;
  width: 100%;
  transition: transform 0.3s linear;
}

.pagesNav--hidden {
  transform: translateY(50px);
}

.pagesNavVertical {
  display: none;
}

.pagesNav__container {
  display: flex;
  align-items: center;
}

.pagesNavLinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  padding: 1rem 0.25rem 0.25rem 0.25rem;
  background-color: #eaf3fc;
}

.pagesNav__Icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

#icon {
  width: 25px;
  height: 25px;
  margin-bottom: 3px;
  color: var(--p-color1);
  stroke: var(--p-color8);
  stroke-width: 1;
}

.pageNav__follow {
  display: none;
}

.pagesNav__action {
  color: var(--p-color1);
  cursor: pointer;
}

.addPost {
  display: flex;
  border-radius: 0.75rem;
  padding: 10px;
  background-color: var(--p-color1);
  color: white;
}

.addPost:hover {
  background-color: #2563eb;
}

.search_modal {
  align-items: flex-start;
  padding-top: 30px;
}

.search_modal .modal__head {
  display: none;
}

.search_modal .noButton__search {
  height: 40px;
}

@media (min-width: 500px) {
  .pageNavAlt {
    display: none;
    visibility: hidden;
  }

  .pageNav__follow {
    display: block;
  }

  .pagesNavVertical {
    position: relative;
    bottom: 0;
    right: 0;
    display: block;
    width: fit-content;
    padding: 10px 20px;
    background-color: white;
  }

  .pagesNav__container {
    width: 50px;
    flex-direction: column;
    height: unset;
    gap: 30px;
    position: sticky;
    top: 20px;
  }

  .pagesNavLinks {
    gap: 30px;
    flex-direction: column;
    background-color: rgb(234, 243, 252);
  }

  .pagesNavSignOut {
    color: var(--p-color3);
  }

  .pagesNavVertical .pagesNav__action svg {
    font-size: 25px;
  }
}

@media (min-width: 850px) {
  .remove {
    display: none;
  }
}

@media (min-width: 1024px) {
  .pagesNavVertical {
    display: none;
  }
}
