.post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--cardColor);
  border: 1px solid rgb(228, 228, 228);
  gap: 1rem;
  border-radius: 1rem;
}

.post__head {
  display: flex;
  justify-content: space-between;
}

.post__head div > img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
  cursor: pointer;
}

.post__posterName {
  font-weight: 600;
  line-height: 25px;
  color: black;
  text-decoration: none;
}

.post__posterName:hover {
  text-decoration: underline;
  cursor: pointer;
}

.post__posterName + span {
  display: block;
  font-size: 14px;
  color: var(--p-color4);
}

.post__head > div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.post > img {
  width: 100%;
  max-height: 500px;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

/* .postImage img {
  border-radius: 0.5rem;
} */

.postReact {
  display: flex;
  align-items: flex-start;
  gap: 0.25rem;
}

.postReact > span {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #f3f3f3;
  padding: 0.35rem 0.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
}

.postReact img {
  width: 20px;
}

.post__detail {
  display: flex;
  align-content: center;
}

.post__detail > img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.post__comments {
  overflow-y: scroll;
  margin-top: 10px;
  display: grid;
  gap: 10px;
  max-height: 400px;
}

.post__comment {
  display: flex;
  margin-bottom: 12px;
  position: relative;
}

.post__comment > div {
  font-size: 14px;
}

.post__comment > div span:nth-child(2) {
  color: var(--p-color4);
}

.post__comment > div span:nth-child(1)::after {
  content: ".";
  position: absolute;
  top: -4px;
  padding-left: 3px;
}

.post__comment > div span:nth-child(1) {
  font-weight: 500;
  margin-right: 5px;
}

.post__comment > div p {
  margin-top: 5px;
}

.post__comment > img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 5px;
}

.post__comment > p {
  font-size: 14px;
}

.post__addComment {
  display: flex;
  align-items: center;
  padding: 16px;
}

.post__addComment input {
  border: none;
  flex: 1;
  outline: none;
  background-color: inherit;
  height: 30px;
  font-size: 16px;
}

.post__addComment button:disabled {
  color: var(--p-color3);
}

.post__addComment button {
  background-color: inherit;
  border: none;
  font-size: 16px;
  color: var(--p-color1);
}

.post .postModal {
  max-width: 350px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid gainsboro;
  box-shadow: 0 2px 4px gainsboro;
}

.postDelete span {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

.postDelete div {
  display: flex;
}

/* .postDelete div button {
  width: 50%;
  height: 40px;
  border: none;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--p-color2);
  cursor: pointer;
} */

/* .postDelete div button:hover {
  color: black;
} */

/* .postDelete div button:nth-child(2):hover {
  color: ;
} */

.postDelete > div {
  margin-top: 10px;
}

.postDeleteCloseBtn {
  text-transform: none;
  border-radius: 12px;
  color: var(--p-color4);
  width: fit-content;
  margin-top: 10px;
  margin-left: auto;
}

.postDeleteBtn {
  text-transform: none;
  border-radius: 12px;
  margin-left: 8px;
  background-color: #ef4444;
  width: fit-content;
  margin-top: 10px;
}

.postDeleteBtn:hover {
  background-color: #dc2626;
}
