.share {
  display: flex;
  gap: 1rem;
  background-color: var(--cardColor);
  padding: 1rem;
  border-radius: 1rem;
}

.share > img {
  flex-shrink: 0;
  border-radius: 9999px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.share > form {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1rem;
}

.share > form > .shareinput {
  background-color: var(--inputColor);
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  border: none;
  outline: none;
  font: inherit;
  width: 100%;
}

.postOptions {
  display: flex;
  justify-content: space-between;
}

.option {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.option:hover {
  cursor: pointer;
}

.ps-button {
  font-size: 12px;
  gap: 10px;
  border: 2px solid transparent;
}

.previewImage {
  position: relative;
}

.previewImage > svg {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  cursor: pointer;
}

.previewImage > img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.previewImage span {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  box-shadow: 0 0 2px grey inset;
}

.previewImage__error {
  color: rgb(235, 102, 102);
  font-size: 16px;
}